body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f5;
    color: #333333;
    text-align: center;
    margin: 0;
    padding: 0;
}

.quiz-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background: #07ccea13;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 8px;
}

h1 {
    color: #4CAF50;
}

h2 {
    color: #1447f1;
}

h4 {
    color: #1447f1;
}

h4 {
    color: #4CAF50;
}
p {
    font-size: 18px;
    margin-bottom: 20px;
}

.buttons {
    margin-bottom: 20px;
}

button {
    background-color: #4CAF50;
    color: #0a0909fd;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #45a049;
}
